
 .ggg{
	background-color:#243756;

	}
	
	.nnn{
	background-color:#f4f4f4;
	color:#f4f4f4;
	}
	.top_page{
	background-color: ;
	
	}
	
	#contact-sec{
	background: url(static/img/bbb.jpg);
	}
	.col{
	color: red;
	}
