{% load staticfiles %}
{% load crispy_forms_tags %}
<div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo-custom" src="{% static 'img/log.jpg' %}" alt=""  /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if request.path == home %} class = "active" {% endif %} ><a href="{% url 'home' %}">HOME</a></li>
                     <li><a href="{% url 'deposit' %}">DEPOSIT</a></li>
                    <li><a href="{% url 'purchase' %}">PURCHASE</a></li>
                     <li><a href="{% url 'about' %}">ABOUT</a></li>
                     <li><a href="{% url 'contact' %}">CONTACT</a></li>
					
					 
				<li class "dropdown">
				<a href = "a" class = "dropdown-toggle" data-toggle= "dropdown" role = "button" aria-haspopup = "true" aria-expanded= "false">
				ACCOUNT <span class = "caret"></a>
				<ul class = "dropdown-menu">
				{% if not request.user.is_authenticated %}
					<li><a href="{% url 'account_signup' %}">SIGN UP</a></li>
					<li><a href="{% url 'account_login' %}">SIGN IN</a></li>
					{% else %}
					<li><a href="{% url 'account_logout' %}">SIGN OUT</a></li>
					{% endif %}
				</li>
				 
                </ul>
				<li><a href="{% url 'FAQs' %}">FAQs</a></li>
				</ul>
            </div>
           
        </div>
    </div>
	
      <!--NAVBAR SECTION END-->
	  
	  